/* Bulma is easy to mod */

.navbar {
  background-color: #333;
}

.navbar-item {
  color: #ccc;
}

.button {
  border-radius: 5px;
}

.is-primary {
  background-color: black;
}

.active-view {
  font-size: 300%;
  background-color: #333;
  /* margin-left: 12px; */
}
